
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
</head>

<div class="login-box">
    <h2>LemurComm</h2>
    <form method="post">
        <div class="user-box">
            <input type="text" name="username" required="">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="password" required="">
            <label>Password</label>
        </div>
        <a href="#" onclick="document.forms[0].submit(); return false;" class="animated-button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Login
        </a>
    </form>
    <div class="link-group">
        <a href="{{ url_for('register_organization') }}" class="animated-button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Create Organization
        </a>
        <a href="{{ url_for('redirect_organization') }}" class="animated-button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Join Organization
        </a>
    </div>
</div>

{% endblock %}
